#quotes {
  height: auto;
  min-height: 100vh;
  @include breakpoint(S) {
    height: 100vh;
  }

  .section-heading {
    color: $offwhite;
    text-shadow: 0 0 2.0rem md-color('purple', '600');
  }

  .portfolio-section__inner-content {
    padding-bottom: 1.0rem;
    font-size: 1.0rem;
    @include breakpoint(S) {
      padding-left: 1.0rem;
      padding-right: 1.0rem;
    }
    @include breakpoint(M) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    @include breakpoint(L) {
      padding-left: 7.5rem;
      padding-right: 7.5rem;
    }
    @include breakpoint(XL) {
      padding-left: 10.0rem;
      padding-right: 10.0rem;
    }
  }
}
