.portfolio-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.portfolio-section__base-content {
  z-index: 2;
  flex: 0 0;
  position: relative;
  width: 94%;
  padding: 5.0rem 0 2.5rem;
  margin: 0 auto;

  @include breakpoint(S) {
    width: 580px;
  }
  @include breakpoint(M) {
    width: 870px;
  }
  @include breakpoint(L) {
    width: 1160px;
  }
  @include breakpoint(XL) {
    width: 1740px;
  }
}
