.portfolio-nav {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 10%;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: rgba(black, 0.3);
  background: linear-gradient(rgba(black, 0.35), rgba(black, 0.15), rgba(black, 0.35));
  border-top: 2px solid #f3f4ff;
  border-bottom: 2px solid #f3f4ff;
  box-shadow: 0 0 1.0rem rgba(black, 0.4);
}

.portfolio-nav__link {
  flex: 1 0;
  padding: 1rem;
  color: #f3f4ff;
  font-family: $oswald;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 250ms all;

  &:hover, &:focus {
    color: md-color('purple','a100');
    background: rgba(black, 0.6);
  }
  &:focus {
    outline-color: md-color('purple','a100');
  }
}
