.section-heading {
  padding: 0 0 3.5rem;
  margin: 4rem 0 0;
  color: #f8f8ff;
  font-family: $oswald;
  font-size: 7.5rem;
  line-height: 1.1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
