.contact-details {
  padding: 1.2rem 0;
  margin: 0;
  font-family: $body;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 200ms, text-shadow 200ms;
    &:hover,
    &:focus {
      color: md-color('purple', '300');
      text-shadow: 0 0 0.6rem mix(md-color('purple', '900'), #000000);
    }
  }
}
