.contact-links__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.0rem 0;
}

.contact-links__logo {
  width: 3.0rem;
  height: 3.0rem;
  transition: all 300ms;

  @include breakpoint(S) {
    width: 4.0rem;
    height: 4.0rem;
  }
  @include breakpoint(M) {
    width: 5.0rem;
    height: 5.0rem;
  }
  @include breakpoint(L) {
    width: 6.0rem;
    height: 6.0rem;
  }
}

.contact-links__link {
  flex: 0 0;
  text-decoration: none;
  padding: 1.0rem;
  margin: 0 0.5rem;

  @include breakpoint(S) {
    margin: 0 1.25rem;
  }
  @include breakpoint(M) {
    margin: 0 2.0rem;
  }

  &:hover, &:focus {
    .contact-links__logo {
      transform: scale(1.2);
      fill: md-color('purple','a100');
    }
  }
}
