@use 'sass:math';

$shadowColor: mix(md-color('blue', '900'), #000000, 30%);
$sizeXS: 4rem;
$sizeS: 5rem;
$sizeM: 6rem;
$sizeL: 7rem;
$sizeXL: 8rem;

.portfolio-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-list__item {
  $aspectRatio: math.div(3, 4);

  cursor: pointer;
  flex: 0 0 44vw;
  height: $aspectRatio * 44vw;
  position: relative;
  margin: 0 0 1rem;
  overflow: hidden;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.8rem
    rgba(mix(md-color('blue', '500'), $shadowColor, 50%), 0.35);
  transition: all 300ms;
  transform: translateZ(0);

  @include breakpoint(S) {
    flex-basis: 260px;
    height: $aspectRatio * 260px;
    margin-bottom: 1.5rem;
  }
  @include breakpoint(M) {
    flex-basis: 240px;
    height: $aspectRatio * 240px;
    margin-bottom: 1.75rem;
  }
  @include breakpoint(L) {
    flex-basis: 320px;
    height: $aspectRatio * 320px;
    margin-bottom: 2.25rem;
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1.8rem
      rgba(mix(md-color('blue', '500'), $shadowColor, 50%), 0.27);
    .portfolio-list__title {
      opacity: 1;
    }
  }
  &:focus {
    outline-color: md-color('purple', 'a100');
  }
}

.portfolio-list__thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  background: $shadowColor center center no-repeat;
  background-size: cover;

  &:before,
  &:after {
    content: ' ';
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &:before {
    box-shadow: inset 0 1.5rem 2.5rem -1.5rem rgba($shadowColor, 0.2);
  }
  &:after {
    box-shadow: inset 0 -1.5rem 2.5rem -1.5rem rgba($shadowColor, 0.2);
  }
}

.portfolio-list__title {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 0.75rem 0.75rem;
  color: $offwhite;
  font-family: $oswald;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0.1rem 0.1rem 0.3rem
    rgba(mix(md-color('blue', '500'), $blackoutColor, 50%), 0.7);
  background: rgba(md-color('blue', '500'), 0.85);
  background: linear-gradient(
    rgba(md-color('blue', '500'), 0.85),
    rgba(md-color('blue', '500'), 0.3)
  );
  opacity: 0;
  transition: opacity 300ms;

  @include breakpoint(S) {
    padding: 1rem 0.75rem;
    font-size: 2rem;
  }
  @include breakpoint(M) {
    padding: 1rem 1rem;
    font-size: 2.4rem;
  }
  @include breakpoint(L) {
    padding: 1.5rem 1.25rem;
    font-size: 2.8rem;
  }
}
