.portfolio-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.portfolio-section--light {
  @extend .portfolio-section;
  color: #222222;
  background: mix(#f8f8ff, #9292bc, 50%);
  background: radial-gradient(at 50% 60%, #f8f8ff, #9292bc);
}

.portfolio-section--dark {
  @extend .portfolio-section;
  color: #f8f8ff;
  background: mix(#550066, #000033, 50%);
  background: radial-gradient(at 50% 60%, #550066, #000033);
}

.portfolio-section__inner-content {
  z-index: 2;
  flex: 0 0;
  position: relative;
  width: 94%;
  padding: 5.0rem 0 7.0rem;
  margin: 0 auto;

  @include breakpoint(S) {
    width: 580px;
  }
  @include breakpoint(M) {
    width: 870px;
  }
  @include breakpoint(L) {
    width: 1160px;
  }
  @include breakpoint(XL) {
    width: 1740px;
  }
}
