.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.section--light {
  @extend .section;
  color: md-color('grey', '900');
  $innerColor: $offwhite;
  $outerColor: md-color('indigo', '100');
  background: mix($innerColor, $outerColor, 50%);
  background: radial-gradient(at 50% 60%, $innerColor, $outerColor);
}

.section--dark {
  @extend .section;
  color: $offwhite;
  $innerColor: md-color('purple', '800');
  $outerColor: mix(md-color('blue', '900'), #000000, 30%);
  background: mix($innerColor, $outerColor, 50%);
  background: radial-gradient(
    farthest-corner at 50% 60%,
    $innerColor,
    $outerColor
  );
}

.section__inner-content {
  z-index: 2;
  flex: 0 0;
  position: relative;
  width: 94%;
  padding: 5rem 0 7rem;
  margin: 0 auto;

  @include breakpoint(S) {
    width: 580px;
  }
  @include breakpoint(M) {
    width: 870px;
  }
  @include breakpoint(L) {
    width: 1160px;
  }
  @include breakpoint(XL) {
    width: 1740px;
  }
}
