.site-nav {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 10%;
  background: rgba(black, 0.3);
  background: linear-gradient(
    rgba(black, 0.35),
    rgba(black, 0.25),
    rgba(black, 0.35)
  );
  border-top: 2px solid $offwhite;
  border-bottom: 2px solid $offwhite;
  box-shadow: 0 0 1rem rgba(black, 0.4);
}

.site-nav__link {
  flex: 1 0;
  padding: 1rem;
  color: $offwhite;
  font-family: $oswald;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: 250ms all;

  &.active {
    color: md-color('purple', 'a100');
  }
  &:hover,
  &:focus {
    color: md-color('purple', 'a100');
    background: rgba(black, 0.6);
  }
  &:focus {
    outline-color: md-color('purple', 'a100');
  }
}
