p {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: sans-serif;
  line-height: 1.5;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(#000, 0.6);
}

a {
  color: md-color('light-blue','200');
  text-decoration: none;
  transition: 150ms all;

  &:hover, &:focus {
    color: md-color('light-blue','100');
    text-decoration: underline;
  }
}
