#about {
  .section-heading {
    color: md-color('pink', '600');
    text-shadow: 0 0 2rem md-color('pink', '200');
  }

  .portfolio-section__inner-content {
    padding-top: 8rem;
    padding-bottom: 4rem;
    font-size: 1rem;
    @include breakpoint(S) {
      padding-left: 0rem;
    }
    @include breakpoint(M) {
      width: 65%;
      padding-top: 12rem;
      padding-bottom: 8rem;
      padding-right: 2.5rem;
      margin-left: auto;
      margin-right: 0;
    }
    @include breakpoint(L) {
      padding-right: 7.5rem;
    }
    @include breakpoint(XL) {
      padding-right: 10rem;
    }
  }
  .about-content {
    padding: 0 0 2em;
    margin: 0;
    font-family: $body;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.4;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 0.25rem solid md-color('grey', '900');
      transition: color 200ms, border 200ms;
      &:hover,
      &:focus {
        color: md-color('purple', '300');
        border-bottom: 0.25rem solid md-color('purple', '300');
      }
    }
  }
}
