.profile-headshot {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 40%;
  max-width: 50vh;
  filter: drop-shadow(6px -6px 36px rgba(md-color('indigo', '200'), 0.54));
  opacity: 0.84;

  @include breakpoint(M) {
    display: block;
  }
}
